<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作业打分</title>
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/bootstrap-fileinput/css/fileinput.css" rel="stylesheet">
</head>
<body>
<script src="/static/bootstrap-3.3.7-dist/js/jquery-3.3.1.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
<script>
    function submit_score(submitId) {
        var score = $("#" + submitId + "_score").val();
        var comment = $("#" + submitId + "_comment").val();
        $.ajax({
            type: "POST",
            url: "/at-s/",
            data: {
                "submit_id": submitId,
                "score": score,
                "comment": comment,
                "csrfmiddlewaretoken": '{{ csrf_token }}'
            },
            dataType: "json",
            success: function (data) {
                document.getElementById(submitId + "_score").value = "";
                document.getElementById(submitId + "_comment").value = "";
                if (data["success"]) {
                    $("#" + submitId + "_now").text(data["score"]);
                    $("#" + submitId + "_assistant").text(data["assistant"])
                }
                else {
                    alert(data["message"]);
                    location.reload()
                }
            }
        });
    }
</script>
<div>
    <div style="padding-top:2vh;padding-left:5vw;padding-right:5vw">
        <h3 style="float:left;">作业：{{ homework.name }}</h3>
        <h3><a href="/at-y/" style="float: right;">主页</a></h3>
    </div>
    <div style="padding-top:8vh;padding-left:5vw;padding-right:5vw">
        {% if submits|length > 0 %}
            <a href="/a_zip/?all={{ all }}&to_score={{ to_score }}&homework_id={{ homework_id }}">批量下载</a>
        {% endif %}
        <table class="table">
            <tr>
                <th>姓名</th>
                <th>学号</th>
                <th>学院</th>
                <th>提交时间</th>
                <th>类型</th>
                <th>分数</th>
                <th>评分人</th>
                <th>提交</th>
                <th>评分</th>
                <th>反馈</th>
                <th></th>
            </tr>
            {% for s in submits %}
                <tr>
                    <td style="vertical-align: middle">{{ s.student_name }}</td>
                    <td style="vertical-align: middle">{{ s.student_id }}</td>
                    <td style="vertical-align: middle">{{ s.student_school }}</td>
                    <td style="vertical-align: middle">{{ s.time }}</td>
                    <td style="vertical-align: middle">
                        {% if s.late %}
                            补交
                        {% endif %}
                    </td>
                    <td id="{{ s.id }}_now" style="vertical-align: middle">{{ s.score }}</td>
                    <td id="{{ s.id }}_assistant" style="vertical-align: middle">
                        {% if s.scored %}
                            {{ s.assistant_name }}
                        {% else %}
                            ——
                        {% endif %}
                    </td>
                    <td style="vertical-align: middle">
                        <a href="/a_download/?student_id={{ s.student_id }}&homework_id={{ s.homework_id }}">
                            <script language="javascript">
                                str = "{{ s.file }}".split("/").pop();
                                document.write(str);
                            </script>
                        </a>
                    </td>
                    <td style="width: 10vw;vertical-align: middle" class="text-center">
                        <input id="{{ s.id }}_score" type="number" class="align-left" placeholder="分数"></input>
                    </td>
                    <td style="width: 20vw;vertical-align: middle" class="text-center">
                        <textarea id="{{ s.id }}_comment" style="width: 20vw" class="center"
                                  placeholder="选填（别写太多，显示效果会很糟）"></textarea>
                    </td>
                    <td style="width: 5vw;vertical-align: middle">
                        <button type="button" class="btn btn-primary fa-pull-right"
                                onclick="submit_score('{{ s.id }}')">提交
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>