<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet">
</head>
<body>
<script src="/static/bootstrap-3.3.7-dist/js/jquery-3.3.1.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form class='form-register' action="/register/" method="post">
            {% csrf_token %}
            <h2 class="text-center">欢迎注册</h2>
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            <div class="form-group">
                {{ register_form.student_id.label_tag }}
                {{ register_form.student_id }}
            </div>
            <div class="form-group">
                {{ register_form.school.label_tag }}
                {{ register_form.school }}
            </div>
            <div class="form-group">
                {{ register_form.name.label_tag }}
                {{ register_form.name }}
            </div>
            <div class="form-group">
                {{ register_form.password1.label_tag }}
                {{ register_form.password1 }}
            </div>
            <div class="form-group">
                {{ register_form.password2.label_tag }}
                {{ register_form.password2 }}
            </div>
            <button type="reset" class="btn btn-default pull-left">重置</button>
            <button type="submit" class="btn btn-primary pull-right">提交</button>
        </form>
    </div>
</div>
</body>
</html>